@import "tailwindcss";

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}



/* Navigation bar */
nav{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid rgb(110, 108, 108);
    padding: 10px 120px 5px;

}

h2{
    font-size: 30px;
    color: white;
    font-weight: 900;
}

nav>ul{
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 13px;

}

.btn{
    color: white;
    background-image: linear-gradient(to left,#9100F8, #FB09B4, #F7E93F);
    padding: 5px 10px;
    border-radius: 17px;
    cursor: pointer;
}

/* banner section*/
body{
    background-color: black;
}

.mic-parent{
    position: relative;
}
.mic-circle{
    width: 270px;
    height: auto;
    position: absolute;
     top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mic-img{
    width: 100px;
    height: auto;
    position: absolute;

    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}



.mic-btn{
    background-color: #00FF88; 
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 12px;
    display: inline-block;
    position: absolute;

    top:70px;
    left:680px;

    animation: pulse 1.5s infinite;
  

}

/* button annimation */
@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
    }

    50%{
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(0, 255, 136, 1);
    }

    100%{
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
    }
}


.banner-description{
    position: absolute;
    top: 80%;
    left: 35%;
    text-align: center;
    justify-content: center;
    align-items: center;
    


}

.banner-description h2{
    font-size: 60px;
    font-weight: 900;
    max-width: 700px;

}

.banner-description p{
    color: white;
    font-size: 13px;
    font-weight: 300;
    max-width: 650px;
    
    
}

.button{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-1{
    color: white;
    background-image: linear-gradient(to left,#9100F8, #FB09B4, #F7E93F);
    padding: 6px 12px;
    border-radius: 17px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.btn-2{
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius:17px ;
    display: flex;
    padding: 5px 17px;
    gap: 5px;
    cursor: pointer;
    
}

/* main section */

.about-container{
    background-color: #1A0B2E;
    text-align: center;
    padding: 100px;
    
    /* justify-content: center;
    align-items: center; */
    
}
.about-container h2{
    font-size: 50px;
    font-weight: 600;
    
}

.about-container p{
    color: white;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 50px;
    
    
}

.about-list{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-top: 1px solid rgb(109, 108, 108);
    
}

.about-list h2{
    color: #00FF88;
    font-size: 48px;
    font-weight: 800;

}

.about-list p{
    color: white;
}


/* techwave section */

.techwave-container{
    background-color: #230E3D;
     padding: 100px;
    
}
.techwave-card{
    gap: 20px;
    align-items: start;
}

.techwave-card .card-1{
    background-color: #35116577;
    padding: 90px 20px;
    border-radius: 10px;
}
.techwave-card .card-2{
    background-color: #35116577;
    padding: 45px 41px;
    border-radius: 10px;
}
.techwave-card .card-3{
    background-color: #35116577;
    padding: 45px 41px;
    border-radius: 10px;
}
.techwave-card .card-4{
    background-color: #35116577;
    padding: 35px 41px;
    border-radius: 10px;
}
.techwave-card .card-5{
    background-color: #35116577;
    padding: 15px 44px;
    border-radius: 10px;
}



.techwave-container h2{
   
    text-align: center;
    padding: 50px;
     
}

.techwave-container i{
    font-size: 50px;
}

.techwave-container .techwave-card h3{
    color: white;
    font-size: 24;
    font-weight: 700;
}

.techwave-container .techwave-card p{
    color: white;
    font-size: 14px;
    font-weight: 200;
    
}

.techwave-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: min-content;

    
}

.techwave-card> div:nth-child(1){
    grid-row: span 2;
}


.techwave-card> div:nth-child(2),
.techwave-card> div:nth-child(3){
    grid-column: span 3;
}




.techwave-card> div:nth-child(4){
    grid-column: span 3;
}


.techwave-card > div:nth-child(5){
    grid-column: span 1;
}


/* Podcast section */

.episodes-container{
    background-color: #1A0B2E;
    padding: 100px;

}

.episode{
    gap: 20px;
}

.episodes-container h2{
    padding: 40px;
    text-align: center;

}

.episodes-container h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.episodes-container p{
    color: white;
    font-size: 13px;
    font-weight: 200;
    
}

.episodes-container .episode{
    display: flex;
}
    
.episode-card{
    background-color: #250D44;
    padding-bottom: 20px;
    max-width: 330px;
    border-radius: 24px;

}

.episode-description{
    padding: 20px;
    

}




.time{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.time p{
    color: #00FF88;
    font-weight: 300;
}

/* host section */

.host-container{
    display: flex;
    gap: 10px;
    background-color: #533c7244;
    padding: 30px;
    border-radius: 15px;
}

.host-container img{
    width: 100px;
    height: 100px;
}

.social img{
    width: 10px;
    height: auto;
    }

.social{
    display: flex;
    gap: 10px;
}

/* footer section */

.footer{
    position: relative;
}

.footer-cotainer h2{
    font-size: 48px;
}

.footer-cotainer{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    

}

.footer-social{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.footer-social p{
    font-size: 10px;
    font-weight: 200;
    padding: 10px;
}

.footer-cotainer p{
    color: white;
    font-size: 10px;
    font-weight: 200;

}